# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ="Estoesunsecretosecretisimo"
JWT_ALGORITHM="RS256"

# Mongo DB
MONGODB_URI="mongodb://localhost/be-lite-tree"

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'

GOOGLE_CLIENT_ID="your_google_client_key"